<div class="row">
  <div class="col-md-10 mx-auto mt-3" *ngFor="let news of newsList">
    <div class="card mb-3">
      <img class="card-img-top" [src]="news.urlToImage" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{news.title}}</h5>
        <p class="card-text">{{news.description}}</p>
        <a href="#" class="btn btn-success">Read More</a>
        <footer class="blockquote-footer">Source : <cite title="Source Title">{{news.source?.name}}</cite></footer>
      </div>
    </div>
  </div>
</div>
